/*Modificar colores y fuentes*/

section{

        h1{
            font-family: $fuentedetitulo;
            font-weight: 500;
            color:$coloresgenerales;
            
        }
p{
    font-family: $fuentedesubtitulo;
    font-weight: 600;
    color:$coloresgenerales;
}

}

